@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Coiny', sans-serif;
}

.blog-title {
  font-family: 'Fredericka the Great', sans-serif;
}

body {
  font-family: 'Fira Sans', sans-serif;
}
